In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('assets/train_with_features.csv')
data.head()

,Unnamed: 0,original_text,label,words,sentence_len,freq_score,aoa_score,syllable_count,Flesch_Kincaid,Flesch_Kincaid_binary
0,0,There is manuscript evidence that Austen conti...,1,"['There', 'is', 'manuscript', 'evidence', 'tha...",38,3979.613947,5.947857,52,52.496579,1
1,1,"In a remarkable comparative analysis , Mandaea...",1,"['In', 'a', 'remarkable', 'comparative', 'anal...",22,3203.964091,7.711667,42,22.995909,1
2,2,"Before Persephone was released to Hermes , who...",1,"['Before', 'Persephone', 'was', 'released', 't...",42,5340.660714,5.318611,63,37.305000,1
3,3,Cogeneration plants are commonly found in dist...,1,"['Cogeneration', 'plants', 'are', 'commonly', ...",32,1434.500313,6.738889,62,10.442500,1
4,4,"Geneva -LRB- , ; , ; , ; ; -RRB- is the second...",1,"['Geneva', 'LRB', 'RRB', 'is', 'the', 'second'...",31,5000.891613,5.599474,47,47.105484,1

In [4]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import svm
import pandas as pd
import numpy as np
data = pd.read_csv('assets/test.csv')

# other features can be added to this vectorizer, checkout sklearn for np.hstack
vectorizer = TfidfVectorizer(min_df=100,ngram_range=(1,2),stop_words='english')

print('Vectorizing the training data ...')
X_train = vectorizer.fit_transform(data.original_text)
y_train = data.label

from sklearn.preprocessing import MaxAbsScaler, RobustScaler
scaling = RobustScaler(with_centering=False).fit(X_train)
X_train = scaling.transform(X_train)


print('Training SVM model ...')
clf = svm.SVC(kernel='linear',cache_size=7000)
clf.fit(X_train,y_train)

testdata = pd.read_csv('assets/WikiLarge_Train.csv')

print('Fitting test data to vectorizer ...')
X_test = vectorizer.transform(testdata.original_text)
X_test = scaling.transform(X_test)
y_test = testdata.label

y_pred = clf.predict(X_test)

from sklearn.metrics import f1_score, accuracy_score, auc

score = f1_score(y_test,y_pred)

print("F1 score for SVM is ", score)

In [5]:
data.head()

,original_text,label,words,sentence_len,freq_score,aoa_score,syllable_count,Flesch_Kincaid,Flesch_Kincaid_binary
0,There is manuscript evidence that Austen conti...,1,"['There', 'is', 'manuscript', 'evidence', 'tha...",38,3979.613947,5.947857,52,52.496579,1
1,"In a remarkable comparative analysis , Mandaea...",1,"['In', 'a', 'remarkable', 'comparative', 'anal...",22,3203.964091,7.711667,42,22.995909,1
2,"Before Persephone was released to Hermes , who...",1,"['Before', 'Persephone', 'was', 'released', 't...",42,5340.660714,5.318611,63,37.305000,1
3,Cogeneration plants are commonly found in dist...,1,"['Cogeneration', 'plants', 'are', 'commonly', ...",32,1434.500313,6.738889,62,10.442500,1
4,"Geneva -LRB- , ; , ; , ; ; -RRB- is the second...",1,"['Geneva', 'LRB', 'RRB', 'is', 'the', 'second'...",31,5000.891613,5.599474,47,47.105484,1